.Sidebar {
    width: 232px;
    display: inline-table;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0;
}

.Title {
    margin: 10px 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}